<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Datacenter Supervisor</title>
</head>
<body>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Temperature</th>
                <th scope="col">Humidity</th>
                <th scope="col">Gas</th>
            </tr>
        </thead>
        <!-- Content from templates -->
        <tbody>

        </tbody>
    </table>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
    <!-- Ajax -->
    <script>
        $(document).ready(setInterval(getContent(), 3000));
        
        function getContent(){
            var res = {'temperature': [], 'humidity': [], 'gas': []};
            
            $.ajax({
                url: "temperature",
                success: function(result){
                    var tmp_res = result.split(" ");
                    for (var i = 0; i < tmp_res.length; i++){
                        if (tmp_res[i] != ""){
                            res.temperature.push(tmp_res[i]);
                        }
                    }
                }
            }); 

            $.ajax({
                url: "humidity",
                success: function(result){
                    var tmp_res = result.split(" ");
                    for (var i = 0; i < tmp_res.length; i++){
                        if (tmp_res[i] != ""){
                            res.humidity.push(tmp_res[i]);
                        }
                    }
                }
            });

            $.ajax({
                url: "gas",
                success: function(result){
                    var tmp_res = result.split(" ");
                    for (var i = 0; i < tmp_res.length; i++){
                        if (tmp_res[i] != ""){
                            res.gas.push(tmp_res[i]);
                        }
                    }
                }
            });

            for (var i = 0; i < 10; i++) {
                var tr = document.createElement("tr");
                tr.innerHtml = "<td>"+res.temperature[i]+"</td><td>"+res.humidity[i]+"</td><td>"+res.gas[i]+"</td>";
                $("tbody").append(tr);
            }
        }
    </script>
</body>
</html>